@import 'appbar.css';
@import 'clublist.css';
@import 'searchbar.css';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

main {
  width: 90%;
  max-width: 800px;
  margin: 32px auto;
}
