figure {
  max-width: 220px;
  padding: 5px;
  margin: auto;
  border: thin #c0c0c0 solid;

  display: flex;
  flex-flow: column;
}

figure > img {
  max-width: 220px;
}

figure > figcaption {
  padding: 3px;
  background-color: #222;
  text-align: center;
  font: italic smaller sans-serif;
  color: #fff;
}
